@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.button {
  @apply rounded border border-stone-300 bg-stone-300 px-1.5 py-0.5
}

.button.secondary {
  @apply border-stone-400 bg-white text-stone-600
}

.button:hover, .button.secondary:hover {
  @apply border-stone-600 bg-stone-600 text-white
}

.textbox {
  @apply border-l-2 border-stone-400 pl-2
}